.background{
    height: 80vh;
    background: url(caravin\ background.jpg) no-repeat center center/cover;
    
}
.navbar{
    background-color: hsl(17, 87%, 53%);
}
.rating{
    background-color: hsl(17, 87%, 53%);
}
.form-box{
    padding: 30px;
    width: 100%;
    max-width: 400px;
}
#register{
    color: hsl(17, 87%, 53%);
   
}
#navbar{
    background-color: hsl(17, 87%, 53%);
    height: 64px;
   
}
.resturentbg {
    background: linear-gradient(to bottom, #f97316, white);
}
.footer{
   background-color: #57595B;
}
 .cta   {
        background-color: hsl(17, 87%, 53%);

    }
