.a{
    background-color: skyblue;
    
    
}
h1{
    text-align: center;
}

div{
    margin: 8px auto;
    padding:20px ;
    width: 550px;
    border-radius: 10px; 
   
} 
input{
    border-radius: 100px;
    font-size: large;
    border: none;

}
.



    


