.A{
    background-color: rgb(143, 233, 143);
}
div{
    width: 300px;
    background-color: white;
    margin: 80px auto;
    padding: 20px;
    border-radius: 10px;
}
input{
    width: 80%;
    padding: 10px;
    margin: 8px;
    border: 1px solid wheat;
    border-radius: 5px;
}
button{
    width: 300px;
    padding: 12px;
    background-color: rgb(61, 255, 61);
    color: white;
    border: 1;
    border-radius: 10px;
    font-size: 20px;
}
#b{
    padding: 10px;
    width: 250px;
    margin: 10px auto;
}