:root {
  --background--color: orange;
  --color: hwb(0 8% 12%);
  --text--color: #adff2f;
  margin-top: 10px;
  padding-top: 10px;
  margin-left: 700px;
  
}
h1{
     /* background-color: var(--background--color);  */
    color: var(--text--color);
   
}
h2{
    color: var(--color);
     /* background-color: var(--background--color); 
} */
#task{
    color: var(--color);
    
}
a{
    color: var(--text--color);
    /* background-color: var(--background--color); */
    
}
p{
     /* background-color: var(--background--color); */
     color: var(--text--color); 
}