#parent1{
    height: 700px;
    width: 700px;
    border: 1px solid #000;
     display:grid;  
    justify-items:end;
    align-items: end;
   
    background-color: black;

    
}
.p1child{
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    background-color: rgb(21, 255, 0);
   color: white;
   font-size: large;
   


}