#abcd {
  background: green;
  text-align: center;
}

#header {
  text-align: center;
  padding: 10px;

  margin-bottom: 10px;
  border-radius: 5px;
  background: red;
  color: white;
}
#footer {
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  background: blue;
  color: white;
}
