#body{
    display: flex;
    justify-content: center;
    Align-items: center;
    width: 100%; 
    height: 50%;
    border: 1px solid black;

}


#bulb1{
    width: 100px;
    height: 100px;
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 100%;
    border: black solid 2px;
    display: flex;
    background-color: white;
    align-items:center;
    justify-content:center; 
}
.box{
    width: 50px;
    height: 30px;
    border: 1px solid black;
     margin: 10px;

}
#parentbox{
    display: flex; 
   
}

#redbox{
    background-color: red;
}
#greenbox{
    background-color: green;
}
#bluebox{
    background-color: blue;
}